.Upload_hotel_form{
  max-width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: rgba(174, 171, 171, 0.785);
  padding: 10px;
  min-height: 350px;
  max-height: fit-content;
  margin-bottom: 20px;
  border-radius: 10px;
  filter: drop-shadow(0 0 5px rgb(97, 207, 237));
}

.Upload_hotel_form>input{
  width: 220px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.187);
  color: white;
}
.Upload_btn{
  background-color: rgb(63, 208, 65);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 200px;
}
.Upload_btn:hover{
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px rgb(63, 208, 65));
  border: 1px solid black;
}
