.About_contant{
    margin-top: 95px;

}
.About_Team_member{
    max-width: 600px;
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}


.About_Team_member:hover{
    background-color: rgba(6, 132, 210, 0.88);
    color: white;
    transition: 0.3s;
    cursor: pointer;
    transition-timing-function: ease;
}
.About_Team_member>img,h2{
    align-items: center;
    align-content: center;
}
.About_Team_member>p{
    text-indent: 20px;
}
.About_img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: relative;
    margin-left: 30px;
}
.About_team_members{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.About_team_title{
    margin-left: 50px;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;

}
.About_ootygo>p{
   text-indent: 20px;
}