.Food_contant{
    width: 100%;
    /* margin-top: 90px; */
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
    height: auto;
    background-color: black;
}

.Food_contant_item{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    
}
.Food_contant_items{
    max-width: 200px;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
}
#Food_contant_title{
    background-color: rgba(128, 128, 128, 0.479);
    width: fit-content;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    margin-left: 90px;
    color: white;
}
.Food_contant_Item_title{
    color: white;
}
.Food_contant_img{
    height: 150px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid grey;
}
.Food_contant_img:hover{
    transition: 150ms;
    transform: scale(1.1)
}
.Food_contant_about{
    color: white;
}
@media only screen and (max-width :900px){
    .Food_contant{
        padding-top: 65px;
    }
    #Food_contant_title{
        font-size: 8px;
        font-size: 20px;
        margin-left: 20px;
    }s
    .Food_contant_items{
        
        margin: 5px;
    }
    .Food_contant_item{
        
        margin: 5px;
    }
}