.Home_body{
    background-image: url('https://wallpapercave.com/dwp1x/wp3500254.jpg' );
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(0, 0, 0); */
    background-blend-mode: multiply;
    background-attachment: fixed;
    z-index: -3;
    font-family: "Poppins", sans-serif;
    width: 100%;
    scroll-behavior: smooth;
    
}
.Home_video_container{
    position: relative;
}
.Home_video_titel{
    position: absolute;
    color: white;
    top: 30%;
    left: 10%;
    font-size: 50px;
    background-color:rgba(0, 0, 0, 0.558);
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    
}
.Home_video{
    background-color: black;
    
    object-fit: cover;
    box-shadow: 1px 8px 10px black;
}

@media only screen and (max-width:900px){
    .Home_video{margin-top: 70px; height: 600px;}
    .Home_video_titel{font-size: 20px; top: 35%; left: 25%;}
    
    
}
