.Places_contant{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: black;
    height: fit-content;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}
.Places_contant_title{
    color: white;
}
.Places_contant_sub{
    color: white;
}
.Places_contant_about{
    color: white;
}

@media only screen and (max-width :900px) {
    .Places_contant{
        margin-top: 65px;
    }
}
.Place_contant_img{
    cursor: pointer;
    border-radius: 10px;
}
.Place_contant_img:hover{
    transform: scale(1.1);
    transition: 150ms;
}