.Signup_form {
  margin-top: 120px;
  background-color:black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  
}

.bi{
  color: white;
 
}
.Signup_thum{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px;
}
.bi-hand-thumbs-up{
  height: 50px;
  width: 50px;
  position: absolute;
  top:20px;
  bottom: 50px;
 
}
.Signup_btns{
  position: relative;
  padding: 40px;
  margin-bottom: 60px;
}
.Signup_start_btn{
  padding: 15px;
  border: none;
  border-radius: 40px;
  background-color:  rgba(13, 152, 238, 0.88);
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 50px 0 50px 0;
}
.Signup_start_btn_signout{
  background-color: red;
  border: none;
  padding: 4px;
  margin-left: 40px;
  border-radius: 15px;
  cursor: pointer;
  color:white;
  font-weight: 500;
  position: absolute;
  
}

.Signup_start_btn:hover{
  color: black;
  background-color:  rgba(20, 213, 152, 0.584);
}
@media only screen and (max-width :900px) {
  .Signup_form{
    margin-top: 75px;
    
    

  }
}
