.Signup_contant{
  /* margin-top: 100px; */
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
  height: 500px;
  background-color: black;
  color: white;
}
.User_Profile_Section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
.Signup_User_greet{
  padding-left: 120px;
}
.User_Profile_Section>button{
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (max-width :900px) {
  .Signup_contant{
    padding-top: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .Signup_section{
    margin-top: 70px;
  }
  .Signup_User_greet{
    padding-left: 20px;
    font-size: small;
  }
}
