.Signup_contant{
  /* margin-top: 100px; */
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
  background-color: black;
  color: white;
}
@media only screen and (max-width :900px) {
  .Signup_contant{
    padding-top: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .Signup_section{
    margin-top: 70px;
  }
}
