.kavi {
  left: 0%;
  transition: 0.5s linear;
  position: relative;
}

.Cantant {
  height: auto;
  /* background-color: #333; */
  display: flex;
  justify-content: space-evenly;
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
}
.Contant_1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 80px;
  padding-top: 20px;
  cursor: pointer;
  width: 100vw;
  position: relative;
}
.Contant_img:hover{
  transform: scale(1.1);
  transition: 0.5s;
  z-index: 5;
}
.Contant_img {
  height: 300px;
  width: 300px;
  border-radius: 80px;
  box-shadow: 5px 10px 10px;
  cursor: pointer;
}



.Contant_Title {
  color: white;
  margin-left: 100px;
  font-size: 30px;
  font-weight: 400;
  background-color: rgba(159, 157, 157, 0.697);
  border-radius: 10px;
  width: fit-content;
  padding: 5px;
  font-family: "Poppins", sans-serif;
}

.Video_contant_play{
  height: 300px;
  width: 400px;
 
  display: unset;
  z-index: 5;
  position: absolute;
  border: 5px solid gray;
}
.Video_contant_play>iframe{
  height: 300px;
  width: 100vh;
}
.Video_contant_play>button{
  position: absolute;
  top: -5px;
  right: -5px;
}
.Video_contant_stop{
  display: none;
}
.loading-overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.Contant_Higlights{
  height: 150px;
  width: 250px;
  border: 10px solid black;
  border-radius: 10px;
}
.Contant_Higlights:hover{
  transform: scale(1.3);
  
}
@media only screen and (max-width: 900px) {
  .Contant_img {
    height: 200px;
    width: 200px;
  }
  .Contant_1{
    padding-left: 0px;
  }
  .Contant_Title {
    color: white;
    margin-left: 0px;
    font-size: 30px;
    font-weight: 200;
  }
  .Contant_Title {
    color: white;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 100;
  }
  .Contant_video_active{
    right: -150px;
    height: 30px;
    width: 30px;
    font-size: 20px;
  }
  .Video_contant_play{
    width: 400px;
    height: 400px;
  }
}
