.Navbar {
  width: 80px;
  height: 100%;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px #0000001a;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.Navbar.scrolled {
  height: 60px;
  transition: all 0.5s ease-out;
  background-color:unset;
  filter: drop-shadow(1px 1px 2px black);
  box-shadow: unset;
}

.Navbar_menu_item {
  background-color: rgba(6, 132, 210, 0.88);
  font-size: 15px;
  margin-top: 20px;
  height: fit-content;
  padding: 5px;
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 70px;
}

.Navbar_menu2_logo {
  height: 70px;
  width: 70px;

  filter: drop-shadow(2px 4px 6px black);
  cursor: pointer;
}
.Navbar_menu2_logo:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
.Navbar_menu2 > :first-child {
  margin-top: 0;
}

.Navbar_menu_item:hover {
  background-color: rgb(27, 249, 175);
  cursor: pointer;
  color: black;
  transition-duration: 600ms;
}
.ib {
  width: 10px;
}
.Navbar_flag{
  height: 50px;
  margin-left: 10px;
}
@media only screen and (max-width: 900px) {
  .Navbar_menu_item {
    font-size: 10px;
    margin-top: 10px;
    height: fit-content;
    padding: 5px;
    border-radius: 50px;
    width: fit-content;
  }
  .Navbar_menu_item > svg {
    height: 20px;
    width: 20px;
  }
  .Navbar_flag{
    margin: 10px 0 0 0;
    height: 40px;
  }
  .Navbar_menu2_logo {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    transition: all 0.3 ease;
  }
  .Navbar {
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-shadow: none;
  }
  .bi {
    height: 15px;
    width: 20px;
  }
}

.Register_page {
  color: rgb(140, 15, 202);
  display: flex;
  align-items: center;
}

.Register_btn {
  color: #c90000;
  z-index: 3;
  background-color: rgba(20, 213, 152, 0.584);
}

#Signup_btn {
  text-decoration: none;
  color: azure;
}
#Home_btn {
  text-decoration: none;
  color: azure;
}
#Places_btn {
  text-decoration: none;
  color: azure;
}
.bi-house:hover {
  color: black;
}
.bi-person-circle:hover {
  color: black;
}
#Places_btn:hover {
  color: black;
}
