.Timebar_contant{
  margin-top: 0px;
  background-color: #333333c6;
  display: flex;
  justify-content: center;
  align-items: center;  
  justify-items: center;
  align-content: center;
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
}

.Timebar_time_1{
    color: aliceblue;
    background-color:rgba(159, 157, 157, 0.697);
    padding: 10px;
    border-radius:  10px 0 0 10px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
.Timebar_time_2{
    color: aliceblue;
    background-color:rgba(159, 157, 157, 0.697);
    padding: 10px;
    border-radius: 0 10px 10px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.Timebar_contant_2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333c6;
}
.Timebar_time_3{
  color: #fdfafa;
  background-color: #333333;
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}


@media only screen and (max-width :900px){
    .Timebar_contant{
        margin-top: 0px;


    }

 .Timebar_time_1{
   padding: 5px;
   font-size: 10px;

 }

 .Timebar_time_2{
    padding: 5px;
    font-size: 10px;

 }
 .Timebar_time_3{
    font-size: 25px;
    padding: 5px;
 }
/* .Timebar_contant_2{
  margin-top: 600px;
} */
}
.Regi_time{
  display: flex;
  align-items: center;
  justify-content: center;

}

