body {
  margin: 0;
  background-color: #333;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1348px;
  width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: "Poppins", sans-serif;
}

